nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.25s;
	padding-top: 8px;
}

nav.open {
	border-right: 2px solid #666;
	width: 240px;
	max-width: 100%; /* for extra small sizes */
}

.note-preview span {
	padding: 4px 8px;
	font-size: 16px;
	cursor: default;
	transition: 0.25s;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	display: block;
}

.note-preview {
	border-bottom: 2px solid #666;
	text-align: center;
	margin: 8px;
}

.note-preview:first-child {
	border-top: 2px solid #666;
}

nav #topBtns {
	text-align: left;
}

#closeNavBtn {
	margin-left: 8px;
}
