body {
	text-align: center;
	margin: 4px;
	padding: 4px;
}
p,
input,
#notes {
	font-family: Roboto, Arial;
}
h3 {
	font-size: 16px;
	display: inline;
	letter-spacing: 1px;
}
p {
	font-size: 100%;
}
a {
	text-decoration: none;
}
h3:hover,
p:hover {
	cursor: default;
}
#notes {
	min-width: 100px;
	min-height: 100px;
	width: 240px;
	height: 240px;
	max-width: 480px;
	max-height: 480px;
}
#notes,
input {
	background: transparent;
	outline: 0px !important;
	caret-color: #f90;
}
#appIcon {
	width: 32px; /* icon width, used in animation.css */
}
#rgbLogo {
	width: 48px;
}
.icon-btn {
	border-radius: 50%;
	margin: 2px;
	font-size: 0px; /* fix for button size */
}
.icon-btn:hover {
	cursor: pointer;
}
.icon {
	padding: 8px;
}
.big-btn {
	display: block;
	padding: 4px;
	margin: 8px;
	border-radius: 0;
	font-size: 12px;
	color: #999;
}
.big-btn:hover {
	color: #fff;
}
h3,
p,
.icon,
img,
details {
	user-select: none;
}
hr {
	border: 1px dashed #666;
}
kbd {
	border-radius: 4px;
	padding: 4px;
	margin: 4px;
	display: inline-block;
}
ul {
	text-align: left;
	padding-left: 20px;
}
button {
	/* reset button styles */
	border: none;
	margin: 0;
	padding: 0;
	background: transparent;
}
#menuBtn {
	left: 4px;
	position: absolute;
}
#addBtn {
	right: 4px;
	position: absolute;
}
#titleInput {
	padding: 4px;
	margin-bottom: 8px;
	border-color: transparent;
	text-align: center;
	font-weight: bold;
}
#titleInput:hover,
#titleInput:focus {
	border-color: inherit;
}
.modal-content p {
	line-height: 20px;
}
#help-modal .modal-content {
	text-align: left;
}
.icon-btn.active {
	background-color: #f69;
}
