body {
	text-align: center;
	margin: 5px;
	padding: 5px;
} p, #notes {
	font-family: Roboto, Arial;
	/*font-family: Arial;*/
} h3 {
	font-size: 16px;
	display: inline;
} p {
	font-size: 100%;
	display: inline;
} a {
	text-decoration: none;
} h3:hover, p:hover {
	cursor: default;
} #notes {
	min-width: 100px;
	min-height: 100px;
	max-width: 450px;
	max-height: 450px;
	outline: 0px !important;
	caret-color: #f90;
} #appIcon {
	width: 32px;
} #rgbLogo {
	width: 48px;
} .icon {
	border-radius: 50%;
	padding: 6px;
} .icon:hover {
	cursor: pointer;
} h3, p, .icon, img, details {
	user-select: none;
} hr {
	border: 1px solid #666;
} kbd {
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	line-height: 30px;
} ul {
	text-align: left;
} #menuIcon {
	left: 0;
	text-align: left;
	position: absolute;
} .modal-content p {
	line-height: 25px;
} #info-modal .modal-content {
	text-align: center !important;
}